{% extends "base.html" %}

{% block content %}

<div class="filtros">
    <a href="/">Todos</a>
    {% for cat in categorias %}
        <a href="/?categoria={{ cat }}">{{ cat }}</a>
    {% endfor %}
</div>

<div class="grid">
    {% for libro in libros %}
    <div class="card">
        <div class="icono">📘</div>
        <h3>{{ libro.nombre.split('__')[1] }}</h3>
        <span class="categoria">{{ libro.categoria }}</span>

        <div class="acciones">
            <a href="/descargar/{{ libro.nombre }}">⬇ Descargar</a>
            <a href="/eliminar/{{ libro.nombre }}" class="eliminar">🗑 Eliminar</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



