{% extends "base.html" %}

{% block contenido %}
<a href="{{ url_for('subir') }}">➕ Subir libro</a>

<div class="grid">
    {% for libro in libros %}
    <div class="card">
        <h3>{{ libro }}</h3>

        <a class="btn-download" href="{{ url_for('descargar', nombre=libro) }}">
            📥 Descargar
        </a>

        <a class="btn-delete" href="{{ url_for('eliminar', nombre=libro) }}"
           onclick="return confirm('¿Eliminar este archivo?')">
            🗑️ Eliminar
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

