{% extends "base.html" %}
{% block content %}

<h3>📤 Subir libro</h3>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="file" name="libro" class="form-control" required>
    </div>

    <div class="mb-3">
        <select name="categoria" class="form-select" required>
            {% for cat in categorias %}
            <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-success">Subir</button>
</form>

{% endblock %}



